/* =============================== CREATE COLOR PALETTE VARIABLES =============================== */

:root {
    /* Color Theme Swatches in Hex */
    --gravity-1-hex: #401B59;
    --gravity-2-hex: #532A8C;
    --gravity-3-hex: #683FBF;
    --gravity-4-hex: #6C57F2;
    --gravity-5-hex: #7E9BF2;
    --gravity-black-hex: #010102;

    /* Color Theme Swatches in RGBA */
    --gravity-1-rgba: rgba(64, 26, 89, 1);
    --gravity-2-rgba: rgba(82, 42, 140, 1);
    --gravity-3-rgba: rgba(103, 63, 191, 1);
    --gravity-4-rgba: rgba(107, 87, 242, 1);
    --gravity-5-rgba: rgba(125, 155, 242, 1);
    --gravity-3-rgba-opacity: rgba(103, 63, 191, .8);
    --gravity-4-rgba-opacity: rgba(107, 87, 242, .8);
    --gravity-5-rgba-opacity: rgba(125, 155, 242, .8);
    --gravity-1-rgba-opacity: rgba(64, 26, 89, .8);
    --black-opacity: rgba(1, 1, 2, .8)
        /* Color Theme Swatches in HSLA */
        --gravity-1-hsla: hsla(275, 53, 22, 1);
    --gravity-2-hsla: hsla(264, 53, 35, 1);
    --gravity-3-hsla: hsla(258, 50, 49, 1);
    --gravity-5-hsla: hsla(225, 82, 72, 1);
    --gravity-4-hsla: hsla(247, 85, 64, 1);

}


/* =============================== NORMALIZE  =============================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* =============================== ELEMENTS  =============================== */

a:link {
    color: var(--gravity-5-hex);
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #c25a5a;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: var(--gravity-3-hex);
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
}

button {
    background-color: var(--gravity-1-hex);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

h1 {
    text-transform: uppercase;
    align-self: center;
}

img {
    max-width: 100%;
    height: fit-content;
    margin-top: 20px;
}

p {
    color: white;
    line-height: 1.5rem;
    margin-top: 20px;
    opacity: .7;
}

h3 {
    color: white;
    text-transform: uppercase;
}

/* =============================== HEADER SECTION  =============================== */

.app--container {
    display: grid;
    grid-template-areas: "header header header"
        "content content content"
        "footer footer footer";
    min-width: 100vw;
    min-height: 100vh;
    grid-template-rows: 20vh 1fr;
    position: relative;
}

.button--container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: left;
    align-items: center;
    gap: 40px;
}

.header--container {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: var(--gravity-black-hex);
    color: white;
    padding: 20px;
    background: rgb(64, 27, 89);
    background-image: url(./components/images/DALL_E_Rhino.png), linear-gradient(90deg, rgba(64, 27, 89, 1) 0%, rgba(83, 42, 140, 1) 15%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat, repeat;
    background-size: auto 100%;
    background-position: center right;
    opacity: 1;
    background-blend-mode: lighten;
    position: sticky;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
}

.left-button {
    width: 33%;
    max-width: 100px;
}

.main--display {
    margin: 40px 0px 0px 0px;
    padding: 8%;
    z-index: 10;
    background-color: rgba(255, 255, 255, .05);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: 20px;
}

.right-button {
    width: 33%;
    max-width: 100px;
}

/* =============================== FOOTER SECTION  =============================== */

.footer--container {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: var(--gravity-1-hex);
    color: white;
    padding: 20px;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

.footer--text {
    margin: 0px 0px 10px 0px;
}

/* =============================== MAIN SECTION  =============================== */

.main--container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./components/images/constellations.jpeg);
    background-color: rgba(255, 255, 255, .15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: grid;
    position: relative;
    padding: 20px 0px;
}


/* =============================== MISC SECTION  =============================== */

.blue {
    color: var(--gravity-5-hex);
}

.brown-highlight {
    opacity: 1;
    color: #BF9C26;
}

.lower-opacity {
    opacity: 0.5;
}