/* =============================== CREATE COLOR PALETTE VARIABLES =============================== */

:root {
  /* Color Theme Swatches in Hex */
.gravity-1-hex { color: #401B59; }
.gravity-2-hex { color: #532A8C; }
.gravity-3-hex { color: #683FBF; }
.gravity-4-hex { color: #6C57F2; }
.gravity-5-hex { color: #7E9BF2; }

/* Color Theme Swatches in RGBA */
.gravity-1-rgba { color: rgba(64, 26, 89, 1); }
.gravity-2-rgba { color: rgba(82, 42, 140, 1); }
.gravity-3-rgba { color: rgba(103, 63, 191, 1); }
.gravity-4-rgba { color: rgba(107, 87, 242, 1); }
.gravity-5-rgba { color: rgba(125, 155, 242, 1); }

/* Color Theme Swatches in HSLA */
.gravity-1-hsla { color: hsla(275, 53, 22, 1); }
.gravity-2-hsla { color: hsla(264, 53, 35, 1); }
.gravity-3-hsla { color: hsla(258, 50, 49, 1); }
.gravity-4-hsla { color: hsla(247, 85, 64, 1); }
.gravity-5-hsla { color: hsla(225, 82, 72, 1); }

}

/* =============================== NORMALIZE  =============================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* =============================== ELEMENTS  =============================== */

body {

}

h1 {

}

/* =============================== HEADER SECTION  =============================== */



/* =============================== LEFT COLUMN  =============================== */



/* =============================== MIDDLE COLUMN  =============================== */



/* =============================== RIGHT COLUMN  =============================== */



