/* =============================== CREATE COLOR PALETTE VARIABLES =============================== */

:root {
    /* Color Theme Swatches in Hex */
    --gravity-1-hex: #401B59;
    --gravity-2-hex: #532A8C;
    --gravity-3-hex: #683FBF;
    --gravity-4-hex: #6C57F2;
    --gravity-5-hex: #7E9BF2;
    --gravity-black-hex: #010102;

    /* Color Theme Swatches in RGBA */
    --gravity-1-rgba: rgba(64, 26, 89, 1);
    --gravity-2-rgba: rgba(82, 42, 140, 1);
    --gravity-3-rgba: rgba(103, 63, 191, 1);
    --gravity-4-rgba: rgba(107, 87, 242, 1);
    --gravity-5-rgba: rgba(125, 155, 242, 1);
    --gravity-3-rgba-opacity: rgba(103, 63, 191, .8);
    --gravity-4-rgba-opacity: rgba(107, 87, 242, .8);
    --gravity-5-rgba-opacity: rgba(125, 155, 242, .3);
    --gravity-1-rgba-opacity: rgba(64, 26, 89, .8);
    --black-opacity: rgba(1, 1, 2, .8)
        /* Color Theme Swatches in HSLA */
        --gravity-1-hsla: hsla(275, 53, 22, 1);
    --gravity-2-hsla: hsla(264, 53, 35, 1);
    --gravity-3-hsla: hsla(258, 50, 49, 1);
    --gravity-5-hsla: hsla(225, 82, 72, 1);
    --gravity-4-hsla: hsl(247, 85%, 64%);

      --shadow-color: 247deg 85% 64%;
      --shadow-elevation-low:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.54),
        1.1px 2.2px 2.9px -2.1px hsl(var(--shadow-color) / 0.64);
      --shadow-elevation-medium:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.75),
        5.6px 11.2px 14.8px -2.1px hsl(var(--shadow-color) / 0.89);
      --shadow-elevation-high:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.93),
        7.4px 14.8px 19.6px -1px hsl(var(--shadow-color) / 1),
        30.8px 61.5px 81.5px -2.1px hsl(var(--shadow-color) / 1);
}




/* =============================== NORMALIZE  =============================== */

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
  }
/* html {
      font-size: 16px;
  } */
body {
      font-family: 'Josefin Sans', sans-serif;
      position: absolute;
  }
body, html {
      min-height: 100vh;
      min-width: 100vw;
  }

svg {
  fill: white;
  margin-right: 25px;
}

/* =============================== ELEMENTS  =============================== */

a:link {
      background-color: transparent;
      color: var(--gravity-5-hex);
      cursor: pointer;
      text-decoration: none;
  }
a:visited {
      background-color: transparent;
      color: #c25a5a;
      cursor: pointer;
      text-decoration: none;
  }
a:hover {
      background-color: transparent;
      color: white;
      cursor: pointer;
      text-decoration: underline;
  }
a:active {
      background-color: transparent;
      color: var(--gravity-3-hex);
      cursor: pointer;
      text-decoration: underline;
  }
button {
      background-color: var(--gravity-1-hex);
      border-radius: 5px;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 10px;
  }
h1 {
      align-self: center;
      font-size: 5em;
      text-transform: uppercase;
  }
img {
      height: fit-content;
      margin-top: 2rem;
  }
body > img, html > img {
      max-width: 100%;
  }
h3 {
      color: white;
      line-height: 200%;
      text-transform: uppercase;
  }
p {
      color: white;
  }

svg:focus, svg:hover {
  fill: var(--gravity-4-hex)
}

/* =============================== HEADER SECTION  =============================== */

.app--container {
      display: grid;
      grid-template-areas: 
        "header header header"
        "content content content"
        "footer footer footer";
      grid-template-rows: 20vh 1fr;
      min-height: 100vh;
      min-width: 100vw;
      position: relative;
      width: 100%;
  }

  .button--container {
    align-items: unset;
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100px;
    justify-content: left;
    left: 20px;
    position: fixed;
    top: calc(50vh - 100px);
    width: 150px;
    width: auto;
    z-index: 100;
}
  .display {
    align-self: center;
    color: white;
    font-size: 1.5em;
    line-height: 12px;
    padding: 0px;
}

  .header--container {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: var(--gravity-black-hex);
    color: white;
    padding: 2em;
    background: rgb(64, 27, 89);
    background-image: url(./components/images/DALL_E_Rhino.png), linear-gradient(90deg, rgba(64, 27, 89, 1) 0%, rgba(83, 42, 140, 1) 15%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat, repeat;
    background-size: auto 100%;
    background-position: center right;
    opacity: 1;
    background-blend-mode: lighten;
    position: sticky;
    z-index: 30;
    width: 100%;
    left: 0;
    top: 0;
}

.left-button {
  background-color: transparent;
  border-bottom: 51.96px solid var(--gravity-4-rgba-opacity);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  font-size: 2em;
  height: 0;
  line-height: 61px;
  padding: 0px;
  text-indent: -7px;
  width: 0;
}

.margin-2em-bottom {
  margin: 0 0 2em 0;
}

.main--display {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .05);
  border-radius: 10px;
  box-shadow: rgb(188 144 239 / 16%) 0px 30px 60px -12px inset, rgb(196 144 144 / 30%) 0px 18px 36px -18px inset;
  overflow: clip;
  padding: 2em;
  text-overflow: ellipsis;
  z-index: 10;
  height: fit-content;
}
  .right-button {
    background-color: transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 51.96px solid var(--gravity-4-rgba-opacity);
    height: 0;
    line-height: 62px;
    padding: 0px;
    text-indent: -6px;
    width: 0;
}
.right-button::after {
  content: " + ";
  font-size: 1.5em;
  left: 27px;
  position: absolute;
  top: 114px;
}

.sub-title {
      font-size: 2em;
  }

  .triangle {
    height: 0;
    width: 0;
    border-top: 10.1 solid transparent;
    border-left: 50vh solid var(--gravity-4-rgba);
    border-bottom: 10.1vh solid transparent;
    position: absolute;
    z-index: -1;
}

/* =============================== FOOTER SECTION  =============================== */

.footer--container {
      background-color: #BF9C2630;
      background-color: var(--gravity-1-hex);
      bottom: 0;
      color: white;
      grid-column-end: 4;
      grid-column-start: 1;
      left: 0;
      opacity: 0;
      padding: 20px;
      position: fixed;
      transition-duration: 500ms;
      width: 100%;
      z-index: 10;
  }

  .footer--container:hover, .footer--container:focus {
    opacity: 1;
  }

.footer--text {
      margin: 0px 0px 10px 0px;
  }

  .visible {
    opacity: 1;
    transition-duration: 500ms;
  }

/* =============================== MAIN SECTION  =============================== */

.clicked {
  fill: var(--gravity-4-hex)
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 450px;
}

.main--container {
    background-color: #010102;
    padding-bottom: 10vh;
    padding: 2em 8em;
    position: relative;
    width: 100vw;
}
/* .image-container > img {
adjust the max-width to your liking
  height: 100%;
  max-height: 30vh;
  min-width: 100%;
  max-width: 500px;
  width: auto;

} */

.image-container > img {
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 250px;
}
.main--container-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: masonry;
  }
  .main--display-p-content {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: white;
    display: -webkit-box;
    line-height: 1.5em;
    opacity: .7;
    text-overflow: ellipsis;
    width: 100%;
}
.main--display-p-content-container {
      box-sizing: border-box;
      overflow: clip;
  }

/* =============================== MISC SECTION  =============================== */

.blue {
      color: var(--gravity-5-hex);
  }
.brown-highlight {
      color: #BF9C26;
      opacity: 1;
      text-transform: capitalize;
  }
.lower-opacity {
      opacity: 0.5;
  }