/* =============================== CREATE COLOR PALETTE VARIABLES =============================== */

:root {
    /* Color Theme Swatches in Hex */
    --gravity-1-hex: #401B59;
    --gravity-2-hex: #532A8C;
    --gravity-3-hex: #683FBF;
    --gravity-4-hex: #6C57F2;
    --gravity-5-hex: #7E9BF2;
    --gravity-black-hex: #010102;

    /* Color Theme Swatches in RGBA */
    --gravity-1-rgba: rgba(64, 26, 89, 1);
    --gravity-2-rgba: rgba(82, 42, 140, 1);
    --gravity-3-rgba: rgba(103, 63, 191, 1);
    --gravity-4-rgba: rgba(107, 87, 242, 1);
    --gravity-5-rgba: rgba(125, 155, 242, 1);
    --gravity-3-rgba-opacity: rgba(103, 63, 191, .8);
    --gravity-4-rgba-opacity: rgba(107, 87, 242, .8);
    --gravity-5-rgba-opacity: rgba(125, 155, 242, .3);
    --gravity-1-rgba-opacity: rgba(64, 26, 89, .8);
    --black-opacity: rgba(1, 1, 2, .8)
        /* Color Theme Swatches in HSLA */
        --gravity-1-hsla: hsla(275, 53, 22, 1);
    --gravity-2-hsla: hsla(264, 53, 35, 1);
    --gravity-3-hsla: hsla(258, 50, 49, 1);
    --gravity-5-hsla: hsla(225, 82, 72, 1);
    --gravity-4-hsla: hsl(247, 85%, 64%);

      --shadow-color: 247deg 85% 64%;
      --shadow-elevation-low:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.54),
        1.1px 2.2px 2.9px -2.1px hsl(var(--shadow-color) / 0.64);
      --shadow-elevation-medium:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.75),
        5.6px 11.2px 14.8px -2.1px hsl(var(--shadow-color) / 0.89);
      --shadow-elevation-high:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.93),
        7.4px 14.8px 19.6px -1px hsl(var(--shadow-color) / 1),
        30.8px 61.5px 81.5px -2.1px hsl(var(--shadow-color) / 1);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  color: gray;
  position: absolute;
  top: 0px;
  right: 0px;
}

.material-symbols-outlined:focus, 
.material-symbols-outlined:hover {
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn);
  transition-duration: 1s;
  color: var(--gravity-4-rgba-opacity);
  cursor: pointer;
}


/* =============================== NORMALIZE  =============================== */

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
  }

body {
      font-family: 'Josefin Sans', sans-serif;
      position: absolute;
  }

body, html {
      min-height: 100vh;
      min-width: 100vw;
  }

svg {
  fill: white;
  cursor: pointer;
}

/* =============================== ELEMENTS  =============================== */

a:link {
      background-color: transparent;
      color: var(--gravity-5-hex);
      cursor: pointer;
      text-decoration: none;
  }

a:visited {
      background-color: transparent;
      color: #c25a5a;
      cursor: pointer;
      text-decoration: none;
  }

a:hover {
      background-color: transparent;
      color: white;
      cursor: pointer;
      text-decoration: underline;
  }

a:active {
      background-color: transparent;
      color: var(--gravity-3-hex);
      cursor: pointer;
      text-decoration: underline;
  }

button {
      background-color: var(--gravity-1-hex);
      border-radius: 5px;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 10px;
  }


.left-button:hover,
.left-button:focus {
    border-bottom: 51.96px solid var(--gravity-1-rgba-opacity);
    cursor: pointer;
  }

.right-button:hover,
.right-button:focus {
  border-top: 51.96px solid var(--gravity-1-rgba-opacity);
  cursor: pointer;
}

h1 {
      align-self: center;
      font-size: 5em;
      text-transform: uppercase;
      line-height: clamp(2.25rem, 2.763vw + 1.535rem, 7.475rem);
      font-size: clamp(1.5rem, 2.247vw + 0.919rem, 5.75rem);
  }

img {
      height: fit-content;
      margin-top: 2rem;
  }

body > img, html > img {
      max-width: 100%;
  }

h3 {
      color: white;
      line-height: 200%;
      text-transform: uppercase;
  }

p {
      color: white;
  }

svg:focus, svg:hover {
  fill: var(--gravity-4-hex)
}

/* =============================== HEADER SECTION  =============================== */

.app--container {
  display: grid;
  grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer";
  grid-template-rows: 20vh 1fr;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  width: 100%;
}

.button--container {
  align-items: unset;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100px;
  justify-content: left;
  left: 20px;
  position: fixed;
  top: calc(50vh - 100px);
  width: auto;
  z-index: 100;
}

.display {
  align-self: center;
  color: white;
  font-size: 1.5em;
  line-height: 12px;
  padding: 0px;
}

.header--container {
  background: rgb(64, 27, 89);
  background-blend-mode: lighten;
  background-color: var(--gravity-black-hex);
  background-image: url(./components/images/DALL_E_Rhino.png), linear-gradient(90deg, rgba(64, 27, 89, 1) 0%, rgba(83, 42, 140, 1) 15%, rgba(0, 0, 0, 1) 100%);
  background-repeat: no-repeat, repeat;
  background-size: auto 100%;
  background-position: center right;
  color: white;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  left: 0;
  opacity: 1;
  padding: 2em;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 30;
}

.left-button {
  background-color: transparent;
  border-bottom: 51.96px solid var(--gravity-4-rgba-opacity);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  font-size: 2em;
  height: 0;
  line-height: 61px;
  padding: 0px;
  text-indent: -7px;
  width: 0;
}

.margin-2em-bottom {
  margin: 0 0 2em 0;
}

.main--display {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .05);
  border-radius: 10px;
  box-shadow: rgb(188 144 239 / 16%) 0px 30px 60px -12px inset, rgb(196 144 144 / 30%) 0px 18px 36px -18px inset;
  height: fit-content;
  overflow: clip;
  padding: 2em;
  text-overflow: ellipsis;
  z-index: 10;
}

.right-button {
  background-color: transparent;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 51.96px solid var(--gravity-4-rgba-opacity);
  height: 0;
  line-height: 62px;
  padding: 0px;
  text-indent: -6px;
  width: 0;
}

.right-button::after {
  content: " + ";
  font-size: 1.5em;
  left: 27px;
  position: absolute;
  top: 114px;
}

.sub-title {
  font-size: clamp(1.5rem, 1.19vw + 1.192rem, 3.75rem);
  line-height: clamp(2.25rem, 1.388vw + 1.891rem, 4.875rem);
  max-width: 50%;
}

.triangle {
  border-top: 10.1 solid transparent;
  border-left: 50vh solid var(--gravity-4-rgba);
  border-bottom: 10.1vh solid transparent;
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}

/* =============================== FOOTER SECTION  =============================== */

.footer--container {
  background-color: #BF9C2630;
  background-color: var(--gravity-1-hex);
  border-right: 10px solid var(--gravity-4-rgba);
  bottom: 0;
  color: white;
  grid-column-end: 4;
  grid-column-start: 1;
  left: calc(((100vw) * -1) + -30px);
  opacity: 1;
  padding: 20px;
  position: fixed;
  transform: skew(20deg);
  transition-duration: 500ms;
  width: calc(100vw + 65px);
  z-index: 10;
}

.footer--container > h3 {
    transform: skew(-20deg) translateX(70px);
    font-size: clamp(0.75rem, 0.397vw + 0.647rem, 1.5rem);
    line-height: clamp(1.125rem, 0.436vw + 1.012rem, 1.95rem);
}

.footer--container > p {
  transform: skew(-20deg) translateX(56px);
}

.footer--wrapper:not(.visible):hover .footer--container, .footer--wrapper:focus .footer--container {
  opacity: 1;
  left: -50px;
}

.footer--text {
  margin: 0px 0px 10px 0px;
}

.visible {
  opacity: 1;
  transition-duration: 500ms;
  left: -25px;
}

/* =============================== MAIN SECTION  =============================== */

.clicked {
  fill: var(--gravity-4-hex)
}

.icon-holder {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 25px;
    justify-content: flex-end;
    align-content: stretch;
    flex-wrap: wrap;
}

.image-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  max-width: 450px;
}

.main--container {
  background-color: #010102;
  padding-bottom: 10vh;
  padding: 2em 8em;
  position: relative;
  width: 100vw;
}

.image-container > img {
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 250px;
}

.main--container-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry;
  transition: 500ms;
}

.main--display-p-content {
  color: white;
  display: -webkit-box;
  line-height: 1.5em;
  opacity: .7;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  width: 100%;
}

.main--display-p-content-container {
  box-sizing: border-box;
  overflow: clip;
}

/* =============================== MISC SECTION  =============================== */

.blue {
  color: var(--gravity-5-hex);
}

.brown-highlight {
  color: #BF9C26;
  opacity: 1;
  text-transform: capitalize;
}

.lower-opacity {
  opacity: 0.5;
}

/* =============================== MODAL SECTION  =============================== */


.modal-main--display {
  background-color: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 100;
  padding: 5vw 10vw;
  background: rgba(155, 155, 155, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
  border: 1px solid rgba(155, 155, 155, 0.61);
}

.modal-brown-highlight {

}

.modal-h1 {
  margin: 0 0 32px 0;
  transition: 1000ms;
}

.modal-image-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 50vh;
  max-width: 80ch;
  width: 50%;
}

.modal-image-container > img {
  width: -webkit-fill-available;
  margin: 2em 0;
  flex-grow: 1;
  max-height: 37vh;
  object-fit: cover;
}

.modal-main--display-p-content-container {
  margin: 2em;

  word-break: break-word;
  flex-shrink: 1;
  display: inline-flex;
  width: 70%;
}
.modal-main--display-p-content {
  flex-shrink: 1;
}
.modal-spacer {
  border: 5px solid rgb(117, 110, 110);
  min-height: 80vh;
  min-width: 80vw;
  z-index: 100;
  padding: 4em 10vw;
  position: relative;
}

@media (max-width: 1450px) {
  .main--container-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: masonry;
      transition: 500ms;
  }
  
  .modal-image-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 50vh;
    max-width: 80ch;
    width: 100%;
}

.modal-image-container > img {
  max-height: 23vh;
  object-fit: cover;
  margin: 0;
  flex-grow: 1;
}

.modal-main--display-p-content-container {
  margin: 2em;
  word-break: break-word;
  flex-shrink: 1;
  display: inline-flex;
  width: 100%;
}

.modal-main--display-p-content {
  column-count: auto;
  column-width: auto;
  flex-shrink: 1;
}

.modal-h1 {
  font-size: 2.5em;
  margin: 0 0 32px 0;
}

}

@media (max-width: 900px) {

  html{

  }

  .image-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    max-width: 380px;
  }

  .main--container-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: masonry;
      transition: 500ms;
  }

  .modal-image-container > img {
    max-width: 25vw;
    margin: 2em 0;
    flex-grow: 1;
    object-fit: cover;
    display: none;
  }

  .modal-main--display-p-content-container {
    margin: 2em;
    word-break: break-word;
    flex-shrink: 1;
    display: inline-flex;
    width: 100%;
  }

  .modal-main--display-p-content {
    flex-shrink: 1;
  }
}

@media (max-width: 500px) {
    .image-container {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      justify-content: center;
      max-width: 225px;
  }

  .sub-title {
    font-size: clamp(.75rem, .75vw + 1.192rem, 3.75rem);
    line-height: clamp(2.25rem, 1.388vw + 1.891rem, 4.875rem);
    max-width: 50%;
  }
}

@media (max-width: 425px) {
  .main--display {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .05);
    border-radius: 10px;
    box-shadow: rgb(188 144 239 / 16%) 0px 30px 60px -12px inset, rgb(196 144 144 / 30%) 0px 18px 36px -18px inset;
    height: -moz-fit-content;
    height: fit-content;
    overflow: clip;
    padding: 1em;
    text-overflow: ellipsis;
    z-index: 10;
  }

  .main--display > p {
    display:none;
  }

  .footer--container > h3 {
    transform: skew(-20deg) translateX(50px);
    font-size: .75rem;
    line-height: clamp(1.125rem, 0.436vw + 1.012rem, 1.95rem);
    word-wrap: break-word;
    width: 75%;
}

.footer--container > p {
  transform: skew(-20deg) translateX(39px);
  font-size: .75rem;
}

  .image-container > img {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 140px;
  }

.sub-title {
  font-size: clamp(.75rem, .75vw + 1.192rem, 3.75rem);
  line-height: clamp(2.25rem, 1.388vw + 1.891rem, 4.875rem);
  max-width: 50%;
  display: none;
  }

  .margin-2em-bottom {
    margin: 0 0 1em 0;
  }

  .footer--container > p {
    transform: skew(-20deg) translateX(56px);
    font-size: .75rem;
  }
}